<figure class="ampstart-image-with-caption m0 relative mb4">
          <amp-img
{{ with .url }}src="{{ . }}"{{ end }}
{{ with .width }}width="{{ . }}"{{ end }}
{{ with .height }}height="{{ . }}"{{ end }}
{{ with .description }}alt="{{ . }}
            layout="responsive"
            class=""
          ></amp-img>
{{ with .caption }}<figcaption class="h5 mt1 px3">{{ . }}
{{ with .credit }}<span class="ampstart-image-credit block bold">
              by
              <a href="#" role="author">{{ . }}</a>
            </span>{{ end }}
          </figcaption>{{ end }}
        </figure>
