<figure class="ampstart-image-with-caption m0 relative mb4">
          <amp-img
{{ with .url }}src="{{ . }}"{{ end }}
            width="756"
            height="520"
{{ with .description }}alt="{{ . }}" {{ end}}
            layout="responsive"
            class=""
          ></amp-img>
{{ with .caption }}<figcaption class="h5 mt1 px3">{{ . }}
<span class="ampstart-image-credit block bold">
              by
              <a href="#" role="author">{{ . }}</a>
            </span>
          </figcaption>{{ end }}
        </figure>