{{ define "main" }}
<div class="center pt4">
    <div class="pt4">
        <header class="">
          <h1 class="h1 pt4">
            <span class="">
              {{ .Page.Title}}
            </span>
          </h1>
        </header> 
</div>
  </div>
<main id="content" role="main">
    <article class="photo-article">
      <h2 class="m3 center h4 italic">Photo Galler</h2>
           {{ .Content }}
            <ul>
                <!-- Ranges through content/posts/*.md -->
                {{ range .Pages }}
                    <li>
                        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                    </li>
                {{ end }}
                </ul>
      
    </article>
    
</main>
{{ end }}