
{{ define "main" }}
{{ if eq .Page.Params.heroImage "true"}}
<div class="center">
    <!-- Start Fullpage Hero -->
    <figure class="ampstart-image-fullpage-hero m0 relative mb4">
      <amp-img
        width="404"
        height="720"
        {{ with .Page.Params.heroImageDescription }}
        alt="{{ . }}"{{ end }}
        layout="responsive"
        {{ with .Page.Params.heroImageUrl }}
        src="{{ . }}"{{ end }}
        media="(max-width: 415px)"
      ></amp-img>
      <amp-img
        height="720"
        {{ with .Page.Params.heroImageDescription }}
        alt="{{ . }}"{{ end }}
        layout="fixed-height"
        {{ with .Page.Params.heroImageUrl }}
        src="{{ . }}"{{ end }}
        media="(min-width: 416px)"
      ></amp-img>
      <figcaption class="absolute top-0 right-0 bottom-0 left-0">
        <header class="p3">
          <h1 class="ampstart-fullpage-hero-heading mb3">
            <span class="ampstart-fullpage-hero-heading-text">
              {{ .Page.Title}}
            </span>
          </h1>

          <span class="ampstart-image-credit h4">
           {{ with .Page.Params.author }} By
           
            {{ . }},<br>{{ end }} on
            {{ .Date.Format "Jan 2, 2006" }}
          </span>
        </header>
        <footer class="absolute left-0 right-0 bottom-0">
          <a
            class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5"
            href="#content"
            ><span class="ampstart-readmore-text px1"></span
          ></a>
        </footer>
      </figcaption>
    </figure>
    <!-- End Fullpage Hero --> 
  </div> {{ else }}
  <div class="center pt4">
    <!-- Start Fullpage Hero -->
    <div class="pt4">
        <header class="">
          <h1 class="h1 pt4">
            <span class="">
              {{ .Page.Title}}
            </span>
          </h1>

          <span class="ampstart-image-credit h4">
           {{ with .Page.Params.author }} By
           
            {{ . }},<br>{{ end }} on
            {{ .Date.Format "Jan 2, 2006" }}
          </span>
        </header> 
</div>
  </div>
  {{ end }}
  <main id="content" role="main">
    <article class="photo-article">
      <h2 class="m3 center h4 italic">Photo Galler</h2>
           {{ .Content }}
           {{ end }}
      <aside>
        <!-- Start Socialbox -->
        <div class="m3 mb4">
        	<amp-social-share 
type="system" 
aria-label="Share"
></amp-social-share>
          <amp-social-share
            type="twitter"
            aria-label="Share this on Twitter"
          ></amp-social-share>
          <amp-social-share
            type="facebook"
            aria-label="Share this on Facebook"
            data-param-text="Hello world"
            data-param-href="https://example.com/?ref=URL"
            data-param-app_id="145634995501895"
          ></amp-social-share>
<amp-social-share type="system" aria-label="Share"></amp-social-share>
          <amp-social-share
            type="pinterest"
            aria-label="Share this on pin trest"
          ></amp-social-share>
          <amp-social-share
            type="email"
            aria-label="Share this with E-mail"
            data-param-subject="Hello World"
            data-param-body="What's up?"
          ></amp-social-share>
          <amp-social-share type="system" aria-label="Share"></amp-social-share>
        </div>
        <!-- End Socialbox -->

        <h2 class="m3 mb4 pb4 caps bold center h3">Related articles</h2>

        <article class="ampstart-article-summary m0 relative">
          <a href="#">
            <amp-img
              width="360"
              height="400"
              layout="responsive"
              src="img/tower.jpg"
            ></amp-img>
            <header class="absolute bottom-0 right-0 left-0 center m3 p3">
              <h3 class="caps bold">Paris</h3>
              <h1 class="h2 my1">
                Nam vidit erant nonumes in, homero menandri praesent vix an
              </h1>
              <p class="h3 bold">28 comments</p>
            </header>
          </a>
        </article>
      </aside>
    </main>
  
